<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        
        <div class="menu_stroka">
            
            <div class="menu">
                <h1>Толстый кот</h1><br>
                <p class="menu_text">Главная</p>
                <p class="menu_text">Каталог</p>
                <p class="menu_text">Распродажа</p>
            </div>
            <div class="icons">
                <img src="img/heart.png" class= menu_icons alt="">
                <img src="img/search.png" class= menu_icons alt="">
                <img src="img/shop.png" class= menu_icons alt="">
            </div>
        </div>
    </header>

<div class="bg">
    
        <div class="content">
            <div class="choice_block">
                <div class="color">
                    <p class="choice_H">Цвет</p><img class="strelka" src="{% static "img/strelka.png" %}" alt="">
                </div>
                <div class="galkaTextcolor galkaTextWhite"><input type="checkbox">
                    <p>белый</p></div>
                <div class="galkaTextcolor galkaTextBlack"><input type="checkbox">
                    <p>чёрный</p></div>
                <div class="priceInputBlock">
                    <p class="choice_H">Цена</p><img class="strelka" src="{% static "img/strelka.png" %}" alt="">
                </div>
                <div class="priceInput"><input type="text"></div>
            </div>
       
    
    
    
                <div class="card">
                    <!-- Верхняя часть -->
                    <div class="card__top">
                        <!-- Изображение-ссылка товара -->
                        <a href="{% url "detail" item.pk %}" class="card__image">
                            <img src="{{ item.img.url }}" alt="{{ item.title }}">
                        </a>
                    </div>
                    <!-- Нижняя часть -->
                    <div class="card__bottom">
                        <!-- Цены на товар (с учетом скидки и без)-->
                        <div class="card__prices">
                            <div class="card__price card__price--discount">{{ item.price }}</div>
                        </div>
                        <!-- Ссылка-название товара -->
                        <a href="{% url "detail" item.pk %}" class="card__title">
                            {{ item.title }}
                        </a>
                        <!-- Кнопка добавить в корзину -->
                        <button class="card__add" type="submit" name="addtocart">В корзину</button>
                    </div>
                </div>
</div> </div>

    <footer class="footer">
        <div class="footer_contacts_block">
            <div class="footer_contacts footer_block">
                <p class="footer_contacts_zag footer_zag">Контактная информация</p>
                <div class="footer_contacts_address">
                    <p class="footer_contacts_address_text">г. Барнаул, Ленина, 2в, 2-этаж</p>
                </div>
            </div>
            <div class="footer_contacts_phone footer_block">
                <p class="footer_contacts_phone_text">8(3852)25-15-27 <br></p>
                <p class="footer_contacts_phone_text">8(903)947-65-27<br></p>
                <p class="footer_contacts_phone_text">8(961)980-51-16 <br></p>
                <p class="footer_contacts_phone_text">kuv_brn@bk.ru</p>
            </div>
        </div>
        </div>
        <div class="footer_social footer_block">
            <p class="footer_social_zag footer_zag">Мы в социальных сетях</p>
            <div class="footer_social_li"><img src="img/telegram.png" alt=""><p class="footer_social_li_text">Telegram</p></div>
        </div>
</footer>
<script src="script.js"></script>
<script src="script1.js"></script>
</body>
</html>