body{
    font-family: 'Montserrat', sans-serif;
    background: #46464672;
}
.bg{
    margin-left: 200px;
    height: 700px;
    background: #ffffff;
    overflow: hidden;
}
.content{
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 9px
}

.color{

}
/* подвал */

.footer{
    width: 100%;
    position: absolute;
    display: flex;
    background: rgb(163, 163, 163);
    justify-content: space-around;
    bottom: 0;
}
.footer_block{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}
.footer_contacts_block{
    display: flex;
}
.footer_zag{
    font-size: 20px; 
    padding-bottom: 10px;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
}
.footer_contacts_phone{
    display: flex;
    flex-direction: column;
}
.footer_contacts_phone_text{
    padding-bottom: 10px;
}
.footer_social{
   right: 0;
}

/* шапка */


header{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
}
h1{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.menu{
    margin: 0 auto;
}
.menu_text{
    margin: 0 auto;
    padding-right: 15px;
}
.menu_text:last-child{
    padding-right: 0;
}
.menu_text:hover{
    opacity: 0.7;
    cursor: pointer;
}
.menu_stroka{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu_icons{
    cursor: pointer;
    width: 20px;
    padding-right: 10px;
}


/* списки выбора */
.choice_block{
    width: 200px;
    cursor: pointer;
}
.choice_H{
    font-size: 18px;
    margin: 8px;
}
.strelka{
    width: 15px;
    rotate: 90deg;
    right: 0;
    margin: -2px;
}
.galkaTextcolor{
    display: none;
    transition: 0.3s;
}
.priceInput{
    display: none;
}
.Act{
    display: block;
}
.strelka180{
    rotate: 270deg;
}

/* .select_column{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; 
  }
  
.select-selected {
    background-color: DodgerBlue;
}
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
 */

 nav {
	margin: 100px auto; 
	text-align: center;
}

nav ul {
	margin-left: 0;
	padding-left: 0;
	width: 500px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul li {
	float: left;
	width: 500px;
	text-align: left;
	border-bottom: 3px solid #2ecc71; 
}
	
nav ul li:hover {
	background: #f2f2f2;
}

nav ul li a {
	display: block; 
	padding: 15px 10px;
	color: #2a2a2a; 
	text-decoration: none;
}
					
nav ul ul {
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none;
	border-bottom: 2px solid #eaeaea; 
	position: relative;
}

nav ul ul li a {
	padding: 15px 10px;
	color: #838383;
}	

nav ul ul li a:hover {
	background: #47d583;
	color: #fff;
}	

#down-triangle {
	float: right;
	width: 0; 
 	height: 0;
 	margin-top: 10px;
 	border-top: 10px solid #2ecc71;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
}

.circle {
	float: right;
	display: inline;
	width: 10px;
 	height: 10px; 
 	margin-top: 5px;
  border: 3px solid #8ce5b2;
  -moz-border-radius: 100%; 
  -webkit-border-radius: 100%; 
  border-radius: 100%;
}

/* карточки */

.product_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
    padding-right: 15px;
 }
 .product-item:hover {
    border-bottom: 2px solid #fc5a5a;
 }
 .product-item img {
    display: block;
    width: 100%;
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
 }
 .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }